/* Estilos Generales */
.separadorH{
	clear: both;
	float: none;
	overflow: hidden;
	height: 0px;
}
fieldset, p, h1, h2, h3, h4, h5, body, html, form, ul, li, legend{
	margin: 0;
	padding: 0;
	border: none;
}
li{
	list-style: none;
}
#layout{
	margin: 140px 25px 25px 25px;
}
#layout.alternativo{
	margin: 0px 25px 25px 25px;
}
body{
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
body#principal{
	background-color: #E0E7EF;
}
body#libre{
	background-color: #F2F2F2;
}
h2, h3, h4, h5{
	color: #4A95EF;
	margin: 0 0 10px 0;
}
h3{
	color: #0E75EF;
	margin-bottom: 10px; 
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 4px;
	border-bottom: 1px solid #AFAFAF;
	max-width: 1000px;
}
h3.alter{
	margin-bottom: 20px;
}
h3.conSubtitulo{
    margin-bottom: 5px;	
}
h3.buscar{
	background: url(/img/iconos/buscar16.png) 0 0 no-repeat;
	padding-left: 20px;
	width: 980px;
}
h3.noResult{
	border: none;
	background: url(/img/iconos/stop16.png) 4px 5px no-repeat;
	font-weight: normal;
	color: #1F1D1D;
	padding: 2px 2px 5px 25px;
	background-color: #EFC2C2;
	border: 1px solid #EF8686;
	width: 973px;
	height: 20px;
	line-height: 20px;
}
.subtitulo{
    margin-bottom: 15px;
}
a{
	text-decoration: underline;
	/*color: #4A95EF;*/
	color: #1764BF;
}
a:hover{
	color: #4A95EF;
}
#contenedorFijo{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5000;
    -moz-box-shadow:0 1px 5px #BBBBBB;
}
#mapa{
	width: 615px;
	height: 300px;
	border: 1px solid #A6A6A6;
}

/* Estilos generales */

.error,
.errorInput{
	color: #F00;
}
.errorInput{
	height:15px;
	margin-top: 1px;
	font-size: 10px;
	line-height: 10px;
}
.oculto{
	display: none;
}
.info{
	font-size: 10px;
}
.volver{
	font-size: 11px;
	height: 14px;
	margin: 0 0 8px 0 !important;
	padding: 0 0 0 12px;
	background: url(/img/iconos/flechaIzq.png) left center no-repeat;
}
.scroll{
	max-height: 198px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #808080;
	margin: 0 0 20px 0;
}
.ficha .scroll{
	float: left;
}
.ficha .scroll .fijo{
	width: 980px;
}
.pestanyas{
	float: left;
	margin: 0 0 20px 0;
}
.pestanyas li{
	float: left;
	margin: 0 5px 0 0;
	background-color: #FFF;
	text-align: center;
	color: #6F6F6F;
	font-weight: bold;
	-moz-box-shadow: 0 1px 5px #BBB;
}
.pestanyas li.ultimo{
	margin: 0;
}
.pestanyas li.actual{
	color: #FFF;
	background-color: #4A95EF;
}
.pestanyas li a,
.pestanyas li strong{
	text-decoration: none;
	color: #6F6F6F;
	display: block;
	padding: 5px 10px;
}
.pestanyas li a:hover{
	background-color: #4A95EF;
	color: #FFF;
}
.pestanyas li.actual a,
.pestanyas li.actual strong{
	color: #FFF;
}
.cargando{
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background: url(/img/cargando.gif) top center no-repeat;
}
.cargando span{
	display: none;
}

/* aviso */
.aviso{
	background: url(/img/iconos/ko22.png) 25px 1px no-repeat #FFFFE1;
	margin: 0 -25px 20px -25px;
	padding: 5px 0 2px 55px;
	border-bottom: 1px solid #777;
	-moz-box-shadow:0 1px 5px #BBBBBB;
	overflow: hidden;
	height: 18px;
}
.aviso h2{
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    color: #000;
    background-color: transparent;
    border-bottom: none;
    font: normal 13px Verdana,Helvetica,sans-serif;
    height: auto;
    letter-spacing: 0;
    padding: 0;
    text-transform: none;
}
.aviso h2 img{
	vertical-align: bottom;
}
/* Componentes Formulario */
label{
	display: block;
	font-family: Verdana, "BitStream vera Sans", Tahoma, Helvetica, Sans-serif;
	font-size: 13px;
	color: #6F6F6F;
	font-weight: bold;
}
label.alter{
	display: inline;
}
select,
input.campoTexto, 
textarea {
    background: url("/img/layout/textfield.gif") repeat-x center top #FFFFFF;
    border: 1px solid #A6A6A6;
    font-family: Verdana, "BitStream vera Sans", Tahoma, Helvetica, Sans-serif;
    font-size: 12px;
    padding: 2px 1px;
}
select{
	padding: 0px;
}
select.desplegable{
	padding: 0px;
	height: 22px;
}
input.campoTexto{
	width: 300px;
}
textarea{
	width: 600px;
	height: 150px;
}
.alterForm{
    background-color: #C3D0DF;
    border: 1px solid #819DCF;
    padding: 10px 20px;
    float: left;
}
.alterForm.ficha span,
.alterForm.ficha strong{
	border: 1px solid #819DCF;
}
.alterForm.ficha{
	padding: 10px 10px 5px 10px;
	margin-top: 15px;
}
.campo{
	margin-bottom: 18px;
	position: relative;
}
.campo.controlado{
    margin-bottom: 0;
}
.campo.clear{
	clear: both;
	float: none;
	overflow: hidden;
}
.campo.multi{
    float: left;
    margin-right: 15px;
}
.checkbox,
.radioOpt{
	margin: 0 15px 0 0;
	position: relative;
	left: 0;
	bottom: -3px;
}
select.mini,
input.mini{
	width: 50px;
}
select.pequeno,
input.pequeno{
	width: 100px;
}
select.mediano,
input.mediano{
    width: 150px;
}
select.fecha,
input.fecha{
    width:100px;
}
.grande{
    width: 300px;
}
select.grande{ 
	width: 304px;
}
select.enorme,
input.enorme{
    width: 450px;
}
.tooltip{
	font-size: 10px;
	width: 220px;
	padding: 5px;
	background-color: #FFFFDF;
	border: 1px solid #BFBFBF; 
	position: absolute;
	left: 165px;
	top: 0px;
	display: none;
	z-index: 1000;
	margin-left: 15px;
    -moz-box-shadow:2px 3px 5px 0 #777777;	
}

/* Log sql */
#logSql{
	font-family: courier;
	padding: 25px;
}
#logSql p{
	font-weight: bold;
	border-bottom: 2px solid #5F5F5F;
	padding-bottom: 3px;
}
#logSql ul{
	
}

#logSql li{
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #5F5F5F;
}
#logSql li.correct{
	color: #1A4F0A;
}
#logSql li.error{
	color: #FF0000;
}

/* Barra Navegacion */
#barraNavegacion{
	border-bottom: 1px solid #808080;
	/*background: url(/img/layout/fdoBarra.png) -9px -6px repeat-x;*/
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
	background-color: #F2F2F2;
	/*height: 25px;*/
	height: auto;
}
#barraNavegacion a{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #6F6F6F;
	text-decoration: none;
	line-height: 25px;
}
#barraNavegacion a:hover{
    color: #5399BF;
}
#breadcrumbs{
	height: 25px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #808080;
}
#breadcrumbs .inner{
	padding: 0 25px 0 30px;
	line-height: 25px;
}
#breadcrumbs .inner a{
	text-decoration: none;
	/*color: #4A95EF;
	font-weight: bold;*/
}
#breadcrumbs .inner a:hover{
	color: #4A95EF;
}
#breadcrumbs .inner span{
	background: url(/img/breadSep.gif) center center no-repeat;
	padding-right: 17px;
}
#breadcrumbs .inner span strong{
	display: none;
}
.barraTitulo{
	height: 20px;
	color: #fff;
	text-align: left;
	background-color: #4A95EF;
	border-bottom: 1px solid #808080;
	font: bold 12px/20px Verdana, Arial, Helvetica, sans-serif;
	padding-left: 25px;
}
.barraTitulo.login{
	background: #4A95EF url(/img/iconos/login.png) 2px 2px no-repeat;
}

/* Botones */
.boton{
	clear: both;
	float: none;
	overflow: hidden;
	margin: 0 auto;
}
.boton a{
	display: block;
	height: 20px;
	position: relative;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	background: url(/img/boton/cen.png) top center repeat-x;
	float: left;
	text-decoration: none;
	line-height: 20px;
	margin-left: 12px;
	cursor: pointer;
}
.boton .dec1{
	display: block;
	width: 12px;
	height: 20px;
	position: absolute;
	left: -12px;
	top: 0px;
	background: url(/img/boton/izq.png) top left no-repeat;
}
.boton .dec2{
    display: block;
    width: 12px;
    height: 20px;
    position: absolute;
    right: -12px;
    top: 0px;	
    background: url(/img/boton/der.png) top right no-repeat;
}
.boton.ko a{
	background: url(/img/boton/koCen.png) top center repeat-x;
}
.boton.ko a .dec1{
	background: url(/img/boton/koIzq.png) top left no-repeat;
}
.boton.ko a .dec2{
	background: url(/img/boton/koDer.png) top right no-repeat;
}

/* Listados */
table.listado{
	background-color: #fff;
	border: 1px solid #808080;
	border-collapse: collapse;
	margin-bottom: 20px;
	/*max-width: 1000px;*/
}
table.listado.fijo{
	width: 1000px;
}
table.listado thead th,
table.listado tbody td{
	padding: 5px 10px;
}
table.listado tbody td.accion{
	text-align: center;
}
table.listado thead th{
	text-align: left;
}
table.listado thead th a{
    color: #FFF;
    text-decoration: none;
}
table.listado thead{
	background-color: #4A95EF;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #808080;
	color: #fff;
}
.scroll .listado{
    margin-bottom: 0;
    border: none;
}
.scroll .listado.selector{
	width: 620px;
}
.campo.multi .scroll{
	margin-top: 17px;
}
a.ordenado.asc{
	padding: 0 12px 0 0;
	background: url(/img/asc.gif) right 8px no-repeat;
}
a.ordenado.desc{
    padding: 0 12px 0 0;
    background: url(/img/desc.gif) right 7px no-repeat;
}
a.btnAnadir,
a.btnDuplicar,
a.btnEditar,
a.btnEliminar,
a.btnFicha,
a.btnGuardar,
a.btnHorario,
a.btnDocumentacion,
a.btnAlumnos{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(/img/iconos/eliminar16.png) top center no-repeat;
}
a.btnEliminar.usuario{
    background: url(/img/iconos/borrarUsuario.png) top center no-repeat;	
}
a.btnAnadir span,
a.btnDuplicar span,
a.btnEditar span,
a.btnEliminar span,
a.btnFicha span,
a.btnGuardar span,
a.btnHorario span,
a.btnDocumentacion span,
a.btnAlumnos span{
	display: none;
}
a.btnEditar{
	background: url(/img/iconos/editar16.png) top center no-repeat;
}
a.btnDuplicar{
    background: url(/img/iconos/duplicar16.png) top center no-repeat;
}
a.btnAnadir{
    background: url(/img/iconos/anadir16.png) top center no-repeat;
}
a.btnFicha{
    background: url(/img/iconos/file16.png) top center no-repeat;
}
a.btnGuardar{
    background: url(/img/iconos/save16.png) top center no-repeat;
}
a.btnHorario{
    background: url(/img/iconos/horario16.png) top center no-repeat;
}
a.btnDocumentacion{
    background: url(/img/iconos/pdf16.png) top center no-repeat;
}
a.btnAlumnos{
    background: url(/img/iconos/alumnos16.png) top center no-repeat;
}
table.listado tbody tr.alter{
	background-color: #EFEFEF;
}
.contenedorMultiselect{
	position: relative;
}
.contenedorMultiselect a.btnEliminar{
	position: absolute;
	top: -16px;
	right: 0;
}
.contenedorMultiselect a.btnFicha{
    position: absolute;
    top: -17px;
    right: 20px;
}
.botonesMultiselect{
	margin: 85px 0 0 0;
}
.botonesMultiselect li{
	margin: 0 0 10px 0;
}

/* Ficha */
.ficha p{
    margin: 0 0 5px 0;
    clear: both;
    float: none;
    overflow: hidden;
}
.ficha .separator{
	margin-bottom: 25px;
}
.ficha .multi{
	clear: both;
	float: none;
	overflow: hidden;
}
.ficha .multi p{
	float: left;
	margin-right: 5px;
	clear: none;
}
.ficha p strong{
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    width: 180px;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    background-color: #D1DFEF;
    margin-right: 5px;
    padding-left: 5px;
    border: 1px solid #C3D0DF;
    text-align: right;
    padding-right: 5px;    
}
.ficha p span{
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #2F2F2F;
    width: 340px;
    padding-left: 5px;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    background-color: #fff; 
    border:1px solid #CFCFCF;   
}
.ficha p .min{
	width: 50px;
}
.ficha p .med{
	width: 90px;
}
.ficha p.extended strong{
	height: 178px;
}
.ficha p.extended span{
	height: 178px;
	width: 690px;
	padding-right: 5px;
}
.ficha .nuevaSeccion{
	margin-top: 25px;
}
.ficha .listado{
	width: 520px;
}

/* Paginador */
#paginadorContainer{
    margin-bottom: 20px; 	
}
#paginadorContainer .paginador{
    clear: both;
    float: none;
    overflow: hidden;
}
#paginadorContainer .paginador li{
	float: left;
	margin-right: 4px;
}
#paginadorContainer .paginador .siguiente,
#paginadorContainer .paginador .anterior{
	color: #000;
	text-decoration: none;
}
#paginadorContainer .paginador strong,
#paginadorContainer .paginador a{
	line-height: 16px;
}
#paginadorContainer .paginador a span{
	display: none;
}
#paginadorContainer .paginador .siguiente{
	/*background: url(/img/iconos/siguiente16.png) center right no-repeat;*/
	background: url(/img/iconos/next16.png) center right no-repeat;
	padding-right: 20px;
}
#paginadorContainer .paginador .anterior{
	/*background: url(/img/iconos/anterior16.png) center left no-repeat;*/
	background: url(/img/iconos/prev16.png) center left no-repeat;
	padding-left: 20px;
}
div.ficha{
	margin-bottom: 25px;
}
.btnSubmit{
	background: url(/img/boton/btnOk.png) top center no-repeat;
	display: block;
	height: 20px;
	width: 89px;
	text-align: center;
	color: #fff;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	cursor: pointer;
	border: none;
	padding-bottom: 3px;
	margin-bottom: 15px;
}
.btnDelete{
	background: url(/img/boton/btnKo.png) top center no-repeat;
	display: block;
	height: 20px;
	width: 89px;
	text-align: center;
	color: #fff;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	cursor: pointer;
	border: none;
	padding-bottom: 3px;
}
.buscador .campo .btnSubmit{
	margin-top: 18px;
}
.resultadosBusqueda{
	margin-top: 30px;
}
.campo.check{
    margin-top: 17px;
    clear: both;
    overflow: hidden;	
}
.campo.check input,
.campo.check label{
	float: left;
}
.listaItemsFicha{
	
}
.listaItemsFicha li{
	height: 20px;
	clear: both;
	float: none;
	overflow: hidden;
}
.listaItemsFicha li a{
	display: block;
	height: 20px;
	line-height: 20px;
	float: left;
}
.listaItemsFicha li a.aprobado{
	background: url(/img/iconos/verde16.png) left center no-repeat;
	padding-left: 20px;
}
.listaItemsFicha li a.pendiente{
	background: url(/img/iconos/amarillo16.png) left center no-repeat;
	padding-left: 20px;
}
.listaItemsFicha li a.denegado{
	background: url(/img/iconos/rojo16.png) left center no-repeat;
	padding-left: 20px;
}
.estadosPlan .aprobado{
	background: url(/img/iconos/verde16.png) 5px 2px no-repeat;
}
.estadosPlan .pendiente{
	background: url(/img/iconos/amarillo16.png) 5px 2px no-repeat;
}
.estadosPlan .denegado{
    background: url(/img/iconos/rojo16.png) 5px 2px no-repeat;	
}
.estadosPlan .estado{
	background-color: #fff;
	padding-left: 25px;
	width: 320px;
}
.multiple{
	height: 200px;
}
.adminOpts{
    background-color: #C3D0DF;
    background: #C3D0DF url(/img/iconos/admin48.png) center left no-repeat;
    padding: 10px 10px 0px 10px;
    border: 1px solid #819DCF; 
    margin-bottom: 25px;	
    padding-left: 70px;
    float: left;
}
.adminOpts .campo,
.adminOpts .campo.check{
    float: left !important;
    margin-right: 20px;
    clear: none;
    overflow: visible;
}
#listadoDocumentos .listado{
	margin-bottom: 10px;
}
#listadoDocumentos #paginadorContainer .paginador{
	margin-bottom: 15px;
}
a.doc{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
}
a.doc span{
	display: none;
}
a.doc.pdf{
	background: url(/img/iconos/pdf16.png) top center no-repeat;
}
.checkedCell{
	display: block;
	height: 16px;
	height: 16px;
	background: url(/img/iconos/ok16.png) top center no-repeat;
}
.checkedCell strong{
	display: none;
}
#convocatoriaDoc{
	width: 1000px;
	clear: both;
	overflow: hidden;
	margin-bottom: 5px;
}
#convocatoriaDoc li{
	/*width: 240px; no poner ancho */
	float: left;
	background: url(/img/iconos/pdf16.png) left top no-repeat;
	padding-left: 20px;
	height: 25px;
	margin-right: 20px;
}
#convocatoriaDoc li label,
#convocatoriaDoc li input{
	float: left;
}
/*#convocatoriaDoc li label{
	font-weight: normal;
	color: #000;
}*/
#documentacion p{
    margin-bottom: 15px;	
}
div.documentacion,
p.desc{
	margin-bottom: 20px;
}
div.documentacion a.zipFile{
    padding-left: 25px;
    height: 25px;
    background: url(/img/iconos/zip16.png) left top no-repeat;    	
}
#altaEdicionCategoria{
	float: left;
}
.erroresDocumentacion li{
    padding-left: 25px;
    height: 25px;
    background: url(/img/iconos/rojo16.png) left top no-repeat;
}
#layout fieldset{
	border: 1px solid #AFAFAF;
	max-width: 960px;
	padding: 20px;
}
legend{
    color: #0E75EF;
    display: block;
    font: bold 12px Verdana, Arial, Helvetica, sans-serif;
    padding: 0 5px;
}
div.bloque{
    margin-bottom: 30px;	
}
label a{
	font-weight: normal;
}
.inlineForm .campo{
	margin-bottom: 0px;
}
#login fieldset{
	border: none;
	padding: 0;
}
.listaFicha{
	background-color: #fff;
	border: 1px solid #CFCFCF;
	width: 700px;
	float: left;
	/*padding: 0 5px;*/
	min-height: 20px;
	line-height: 20px;
}
.listaFicha li{
	float: left;
	margin-right: 6px;
	background: url(/img/iconos/item16.png) 5px 3px no-repeat;
	padding-left: 20px;
}
p.lista{
	float: left;
}
/*tr:hover {
    background-color: #DFEBFF !important;
}*/
.nombreTd{
	width: 30%;
}
.pestanyas .datos{
	background: url(/img/iconos/file16.png) 5px 5px no-repeat;
	padding-left: 30px;
}
.pestanyas .documentacion{
    background: url(/img/iconos/pdf16.png) 5px 5px no-repeat;
    padding-left: 30px;	
}
.pestanyas .horarios{
    background: url(/img/iconos/horario16.png) 5px 5px no-repeat;
    padding-left: 30px;	
}
.pestanyas .alumnos{
    background: url(/img/iconos/alumnos16.png) 5px 5px no-repeat;
    padding-left: 30px;	
}
.pestanyas .material{
    background: url(/img/iconos/material16.png) 5px 2px no-repeat;
    padding-left: 30px;	
}
.contenedorMultiselect select.grande{
	width: 270px;
}
#diaCurso .btnSubmit,
#horarioCurso .btnSubmit{
	margin-bottom: 0;
}
#cursosEdicion{
	margin-top: 17px;
}
#contadorHoras{
}
#contadorHoras p{
	margin-bottom: 15px;
}
#contadorHoras p strong{
	color: #9F1313;
	font-size: 14px;
}
#barraHoras{
	height: 25px;
	width: 698px;
	margin-bottom: 10px;
	border: 1px solid #6F6F6F;
	background-color: #9F9F9F;
	position: relative;
	overflow: hidden;
}
#barraHoras div{
    background-color: #68A6EF;
    height: 23px;
    float: left;
    border: 1px solid #458BDF;    
}
#tablaHorarios{
	width: 700px;
}
#barraHoras strong{
	text-align: center;
	line-height: 25px;
	color: #fff;
	display: block;
	width: 200px;
	height: 25px;
	position: absolute;
	top: 0px;
	left: 249px;
}
#barraHoras div.excede{
    border: 1px solid #CF262D;
    background-color: #DF2929;	
}